@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$checkbox-width: 18px;

* {
    font-family: 'Ubuntu', sans-serif;
    color: #313131;
}

@mixin filter-item {
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #313131;
    border-radius: 16px;
    padding: 10px 20px;
    display: table;
    position: relative;

    img {
        margin-left: 20px;
    }

    &__title {
        cursor: pointer;

        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
}

@mixin btn-default {
    padding: 9px 17px;
    background: #32C641;
    border-radius: 16px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;
    }
}

input {
    outline: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit !important;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    &+label {
        position: relative;
        display: inline-block;
        padding-left: $checkbox-width + 15;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin: -12px 0 0;
            width: $checkbox-width;
            height: $checkbox-width;
            background-image: url("../icons/okey.svg");
            padding: 12px;
            border: 1px solid #313131;
            border-radius: 4px;
            background-position: 5px 30px;
            transition: 0.7s all ease;
            background-repeat: no-repeat;
        }
    }

    &:checked+label {
        &:before {
            background-position: 5px 8px;
            transition: 0.7s all ease;
        }
    }

    &:disabled {
        &+label {
            cursor: not-allowed;

            &:before {
                background-position: (-$checkbox-width*2) 0;
            }
        }
    }
}

.loader {
    overflow: hidden;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #32C641;
    background: -moz-linear-gradient(left, #32C641 10%, rgba(101, 171, 248, 0) 42%);
    background: -webkit-linear-gradient(left, #32C641 10%, rgba(101, 171, 248, 0) 42%);
    background: -o-linear-gradient(left, #32C641 10%, rgba(101, 171, 248, 0) 42%);
    background: -ms-linear-gradient(left, #32C641 10%, rgba(101, 171, 248, 0) 42%);
    background: linear-gradient(to right, #32C641 10%, rgba(101, 171, 248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
        width: 50%;
        height: 50%;
        background: #32C641;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }

    &:after {
        background: white;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@import './pages/events.scss';
@import './pages/home.scss';