@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$checkbox-width: 18px;

* {
    font-family: 'Ubuntu', sans-serif;
    color: #313131;
}

@mixin filter-item {
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #313131;
    border-radius: 16px;
    padding: 10px 20px;
    display: table;
    position: relative;

    img {
        margin-left: 20px;
    }

    &__title {
        cursor: pointer;

        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
}

@mixin btn-default {
    padding: 9px 10px;
    background: #32C641;
    border-radius: 16px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;
    }
}

input {
    outline: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    &+label {
        position: relative;
        display: inline-block;
        padding-left: $checkbox-width + 15;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin: -12px 0 0;
            width: $checkbox-width;
            height: $checkbox-width;
            background-image: none;
            padding: 12px;
            border: 1px solid #313131;
            border-radius: 4px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &:checked+label {
        &:before {
            background-image: url("../icons/okey.svg");
        }
    }

    &:disabled {
        &+label {
            cursor: not-allowed;

            &:before {
                background-position: (-$checkbox-width*2) 0;
            }
        }
    }
}

header {
    padding-top: 40px;

    .header-filters {
        margin-top: 30px;
        display: flex;

        @media (max-width: 992px) {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #fff;
            top: 0;
            left: 0;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 0px;
            padding: 20px;
            display: none;
        }

        &.act {
            @media (max-width: 992px) {
                display: flex;
            }
        }

        &.act+.filters-open {
            display: none !important;
        }

        &_title {
            display: none;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 30px;

            img {
                width: 20px;
            }

            @media (max-width: 992px) {
                display: flex;
                justify-content: space-between;
            }
        }

        &_item {
            margin-left: 30px;
            display: flex;
            align-items: center;

            @media (max-width: 992px) {
                margin-left: 0px;
                margin-top: 25px;
            }

            &:first-child {
                margin-left: 0px
            }

            &:last-child {
                @media (max-width: 992px) {
                    margin-top: auto;
                }
            }

            &-range {
                @media (max-width: 992px) {
                    width: 100%;
                }

                @include filter-item;

                &__body {
                    margin-top: 25px;

                    .slider-connect {
                        background: #32C641;
                    }

                    .slider-tooltip {
                        font-weight: 400;
                        font-size: 12px;
                        color: #313131;
                        background-color: rgba(0, 0, 0, 0);
                        border: 0px;
                        bottom: 15px;

                        &::before {
                            display: none;
                        }
                    }

                    .slider-handle {
                        background: #32C641;
                    }

                    .slider-base {
                        background: #313131;
                    }

                    &-diapason {
                        margin-top: 15px;
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-weight: 400;
                            font-size: 12px;
                        }
                    }

                    &-text {
                        width: 70%;
                        margin-top: 10px;

                        input {
                            max-width: 100%;
                            @include filter-item;

                            ::placeholder {
                                opacity: 0.4;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            &-date {
                @media (max-width: 992px) {
                    width: 100%;
                }

                @include filter-item;

                &__body {
                    z-index: 9999;
                    position: absolute;
                    left: 0px;
                    top: 50px;

                    .vc-title,
                    .vc-arrow,
                    .vc-nav-arrow,
                    .vc-nav-title,
                    .vc-nav-item {
                        background-color: rgba(0, 0, 0, 0);
                    }

                    .vc-nav-item.is-active {
                        background: #32C641;
                    }

                    .vc-nav-title {
                        font-weight: 400;
                        font-size: 16px;
                    }

                    .vc-title {
                        font-weight: 400;
                        font-size: 16px;
                        text-transform: capitalize;
                    }

                    .vc-weekday {
                        font-weight: 500;
                        font-size: 14px;
                        color: #000000;
                    }
                }
            }

            &-checkbox {
                label {
                    font-weight: 400;
                    font-size: 16px;
                    margin-left: 10px;
                }
            }

            &-btn {
                @include btn-default;
            }
        }
    }

    .filters-open {
        @include filter-item;
        display: none;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
}


main {
    margin-top: 20px;
    padding-bottom: 100px;

    @media (max-width: 992px) {
        margin-top: 0px;
    }

    .event-list {
        &_item {
            background: #FFFFFF;
            box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.13);
            border-radius: 16px;
            padding: 10px 10px 30px 10px;
            font-weight: 400;
            font-size: 16px;
            margin-top: 30px;

            &-img {
                img {
                    width: 100%;
                    border-radius: 16px;
                }
            }

            &-title {
                font-weight: 700;
                font-size: 18px;
                margin-top: 15px;
            }

            &-description {
                margin-top: 10px;
            }

            &-number {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }

            &-address {
                margin-top: 10px;
            }

            &-metro {
                margin-top: 10px;

                div {
                    width: 12px;
                    height: 12px;
                    background: #E32C87;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}